.container {
  width: 10rem;
}
.floating {
  background-color: red;
  float: right;
  height: 3rem;
  width: 3rem;
}
.floating-2 {
  background-color: blue;
  float: left;
  height: 5rem;
  width: 3rem;
}
.content {
  clear: right;
}
