* {
  box-sizing: content-box;
}
.red-background {
  background-color: #ff0000;
}
.background-image {
  background-color: #999999;
  background-repeat: no-repeat;
  background-position: 50px center;
  background-image: url('tiles.jpg');
  height: 50rem;
  width: 100rem;
}
.header-image {
  background-image: radial-gradient(ellipse at top left, white 25%, transparent),
    url('mountains.jpg');
  background-size: cover;
  background-position: center;
  height: 15rem;
  border: 5px dashed #000000;
  padding: 2rem;
  box-sizing: content-box;
}
.gradient {
  background-image: radial-gradient(ellipse at 25%, red, transparent),
    radial-gradient(ellipse at 75%, blue, transparent);
  width: 10rem;
  height: 5rem;
}
